body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  background: #0909ab 20px 50% linear-gradient(#2a2ad2, #08089b);
}
